{"swagger":"2.0","info":{"title":"Flight Service","description":"Service for creating, deleteing, updating and searching for available flights","termsOfService":"Terms of use","contact":{"name":"API Support","email":"support@example.com","url":"https://example.com/api-support"},"version":"0.1"},"host":"v1.goa.design","consumes":["application/json","application/xml","application/gob"],"produces":["application/json","application/xml","application/gob"],"paths":{"/":{"get":{"tags":["booking"],"summary":"book booking","description":"Book a flight using IATA NDC standard","operationId":"booking#book","parameters":[{"name":"BookRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/BookingBookRequestBody","required":["origin","destination","departure_date","one_way"]}}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/BookingBookResponseBody","required":["id","origin","destination","departure_date","return_date","status"]}}},"schemes":["https"]}}},"definitions":{"BookingBookRequestBody":{"title":"BookingBookRequestBody","type":"object","properties":{"departure_date":{"type":"string","description":"Departure date and time","example":"Illo maxime delectus et perferendis ea."},"destination":{"type":"string","description":"Destination airport code","example":"97h","minLength":3,"maxLength":3},"one_way":{"type":"boolean","description":"True for one-way searches, false for round trip searches","example":false},"origin":{"type":"string","description":"Origin airport code","example":"1br","minLength":3,"maxLength":3},"return_date":{"type":"string","description":"Return date and time (for round trip searches)","example":"Et sed rerum."}},"example":{"departure_date":"Quia nihil maxime.","destination":"d25","one_way":true,"origin":"ik4","return_date":"Qui odit quos qui harum."},"required":["origin","destination","departure_date","one_way"]},"BookingBookResponseBody":{"title":"BookingBookResponseBody","type":"object","properties":{"departure_date":{"type":"string","description":"Departure Date (YYYY-MM-DD)","example":"Tempora est et optio."},"destination":{"type":"string","description":"Destination Airport Code","example":"Laboriosam aut id eos."},"id":{"type":"integer","description":"Unique Flight Booking Identifier","example":2601965337540926733,"format":"int64"},"origin":{"type":"string","description":"Origin Airport Code","example":"Quibusdam earum accusantium autem."},"return_date":{"type":"string","description":"Return Date (YYYY-MM-DD)","example":"Molestias ipsam temporibus voluptatem."},"status":{"type":"string","description":"Status of the booking (pending, confirmed, cancelled)","example":"Ipsum illum quod quis et animi."}},"example":{"departure_date":"Ratione cupiditate voluptatum quia.","destination":"Sint et aliquid ad optio quasi.","id":1771681857463836780,"origin":"Incidunt at nam.","return_date":"Nobis quaerat.","status":"Nulla et accusamus aut reiciendis."},"required":["id","origin","destination","departure_date","return_date","status"]},"FlightFlightresultResponseCollection":{"title":"Mediatype identifier: flightresult; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/FlightresultResponse"},"description":"SearchResponseBody is the result type for an array of FlightresultResponse (default view)","example":[{"departure_date":"Eligendi ipsa autem.","destination":"Et sed qui.","id":4593271619694213975,"origin":"Rerum dolores rem architecto.","return_date":"Qui sed."},{"departure_date":"Eligendi ipsa autem.","destination":"Et sed qui.","id":4593271619694213975,"origin":"Rerum dolores rem architecto.","return_date":"Qui sed."},{"departure_date":"Eligendi ipsa autem.","destination":"Et sed qui.","id":4593271619694213975,"origin":"Rerum dolores rem architecto.","return_date":"Qui sed."},{"departure_date":"Eligendi ipsa autem.","destination":"Et sed qui.","id":4593271619694213975,"origin":"Rerum dolores rem architecto.","return_date":"Qui sed."}]},"FlightSearchRequestBody":{"title":"FlightSearchRequestBody","type":"object","properties":{"departure_date":{"type":"string","description":"Departure date and time","example":"Praesentium ad iusto."},"destination":{"type":"string","description":"Destination airport code","example":"2us","minLength":3,"maxLength":3},"one_way":{"type":"boolean","description":"True for one-way searches, false for round trip searches","example":false},"origin":{"type":"string","description":"Origin airport code","example":"oaq","minLength":3,"maxLength":3},"return_date":{"type":"string","description":"Return date and time (for round trip searches)","example":"Repudiandae odio necessitatibus dolorum voluptatem magni sed."}},"example":{"departure_date":"Tenetur rerum quia consequatur aspernatur aut.","destination":"51z","one_way":false,"origin":"7bu","return_date":"Voluptates dolorem corrupti."},"required":["origin","destination","departure_date","one_way"]},"FlightresultResponse":{"title":"Mediatype identifier: flightresult; view=default","type":"object","properties":{"departure_date":{"type":"string","description":"Departure Date (YYYY-MM-DD)","example":"Et error eos veniam facilis autem ea."},"destination":{"type":"string","description":"Destination Airport Code","example":"Qui similique nobis at aspernatur non mollitia."},"id":{"type":"integer","description":"Unique Flight Booking Identifier","example":258016410655131319,"format":"int64"},"origin":{"type":"string","description":"Origin Airport Code","example":"In sed."},"return_date":{"type":"string","description":"Return Date (YYYY-MM-DD)","example":"Veniam quo quia voluptatum quam atque architecto."}},"description":"FlightresultResponse result type (default view)","example":{"departure_date":"Sint maxime qui est nesciunt.","destination":"Nemo itaque expedita ea omnis.","id":7929498325727117039,"origin":"Voluptates fugit aut.","return_date":"Sit enim amet."},"required":["id","origin","destination","departure_date","return_date"]}}}