openapi: 3.0.1
info:
  title: AirGateway NDC JSON API
  description: This API allows shopping and booking with IATA's New Distribution Capabilities
    (NDC) standard. It provides aggregated shopping capabilities (AirShopping), detailed
    offer description (OfferPrice), flight seat selection (SeatAvailability) and booking
    flight reservations (OrderCreate). Some fields in our API (when noticed) use the
    PADIS Standard v16.1. Find more information <a href=http://www.iata.org/whatwedo/workgroups/Pages/padis.aspx>here</a>
  version: "1.1"
servers:
- url: https://proxy.airgateway.net/v1.1
paths:
  /AirDocIssue:
    post:
      tags:
      - NDC Methods
      summary: Post AirDocIssue
      description: AirDocIssue the ability to pay for the held booking.
      operationId: AirDocIssue#Post
      parameters:
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirDocIssuePayloadPayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/AirDocIssuePayloadPayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/AirDocIssuePayloadPayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/AirDocIssuePayloadPayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/OrderCreateMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OrderCreateMedia'
        400:
          description: Bad Request
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        503:
          description: Service Unavailable
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /AirShopping:
    post:
      tags:
      - NDC Methods
      summary: Post AirShopping
      description: "Get a list of offers for provided O&D, dates and travelers.\n\t\
        \tThere are three types of AirShopping request:<br> <b>(one-way)</b> -> For\
        \ this airshopping, the array of OriginDestination´s must have only one element.</br>\n\
        \t\t<b>(round-trip)</b> -> For this airshopping, the array of OriginDestination´\
        s must have only two elements, and the arrival of the second element must\
        \ be the same that the departure of the first element.</br>\n\t\t<b>(multi-city)</b>\
        \ -> For this airshopping, the array of OriginDestination´s can have an unlimited\
        \ quantity of elements.</br>\n\t\tThis method allows async behaviour by sending\
        \ <b>AG-Connection</b> header with <b>keep-alive</b> value. If a request is\
        \ received with this header, response will be real-time <a href=\"https://en.wikipedia.org/wiki/JSON_Streaming\"\
        >json streaming</a> so API will return offers as soon as they are received\
        \ from providers and parsed. Streaming responses are line delimited JSON.\
        \ You can <a href=\"https://api.airgateway.work/streaming-json-example.json\"\
        >see an example here</a>.</br>\n\t\tIf AG-Connection is not sent, all responses\
        \ from providers will be parsed together (it will be slow since it needs to\
        \ wait for all provider's responses) and there will be only a response with\
        \ format specified here.<br>\n\t\tAs an additional header option you can control\
        \ maximum per provider offers in response. Use <b>AG-Per-Provider-Limit</b>\
        \ header with integer number value."
      operationId: AirShopping#Post
      parameters:
      - name: AG-No-Cache
        in: header
        description: Don't use cache for answer
        schema:
          type: string
      - name: AG-Providers
        in: header
        description: Provider IDs list or * for all
        required: true
        schema:
          type: string
      requestBody:
        description: AirShoppingPayload is the type for AirShopping endpoint request
          body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirShoppingPayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/AirShoppingPayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/AirShoppingPayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/AirShoppingPayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.airshoppingmedia+json:
              schema:
                $ref: '#/components/schemas/AirShoppingMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AirShoppingMedia'
        400:
          description: Bad Request
          content:
            application/airgateway.github.io.airshoppingmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.airshoppingmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        503:
          description: Service Unavailable
          content:
            application/airgateway.github.io.airshoppingmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /OfferPrice:
    post:
      tags:
      - NDC Methods
      summary: Post OfferPrice
      description: OfferPrice performs an specific detailed info query on a precise
        flight.
      operationId: OfferPrice#Post
      parameters:
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferPricePayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/OfferPricePayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/OfferPricePayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/OfferPricePayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.flightpricemedia+json:
              schema:
                $ref: '#/components/schemas/OfferPriceMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OfferPriceMedia'
        400:
          description: Bad Request
          content:
            application/airgateway.github.io.flightpricemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.flightpricemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.flightpricemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        503:
          description: Service Unavailable
          content:
            application/airgateway.github.io.flightpricemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /OrderCancel:
    post:
      tags:
      - NDC Methods
      summary: Post OrderCancel
      description: 'OrderCancel returns cancelled order. '
      operationId: OrderCancel#Post
      parameters:
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCancelPayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderCancelPayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/OrderCancelPayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/OrderCancelPayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.ordercancelmedia+json:
              schema:
                $ref: '#/components/schemas/OrderCancelMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OrderCancelMedia'
        400:
          description: Bad Request
          content:
            application/airgateway.github.io.ordercancelmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.ordercancelmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.ordercancelmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        503:
          description: Service Unavailable
          content:
            application/airgateway.github.io.ordercancelmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /OrderChange:
    post:
      tags:
      - NDC Methods
      summary: Post OrderChange
      description: The OrderChange amends existing order/PNR, and returns amended
        order details.
      operationId: OrderChange#Post
      parameters:
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderChangePayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderChangePayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/OrderChangePayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/OrderChangePayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/OrderCreateMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OrderCreateMedia'
        400:
          description: Bad Request
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        503:
          description: Service Unavailable
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /OrderChangeNotif/{airlineID}:
    post:
      tags:
      - NDC Methods
      summary: Post OrderChangeNotif
      description: OrderChangeNotif is a callback endpoint that airlines call to notify
        us about order changes
      operationId: OrderChangeNotif#Post
      parameters:
      - name: airlineID
        in: path
        description: Airline ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OrderChangeNotifMedia'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderChangeNotifMedia'
        400:
          description: Bad Request
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
            application/xml:
              schema:
                $ref: '#/components/schemas/error'
  /OrderComments:
    post:
      tags:
      - Non NDC Methods
      summary: Post OrderComments
      description: OrderComments updates order with new comments
      operationId: OrderComments#Post
      parameters:
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      requestBody:
        description: OrderCommentsPayload is the type for OrderComments endpoint request
          body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCommentsPayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderCommentsPayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/OrderCommentsPayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/OrderCommentsPayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.ordercommentsmedia+json:
              schema:
                $ref: '#/components/schemas/OrderCommentsMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OrderCommentsMedia'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.ordercommentsmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.ordercommentsmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /OrderCreate:
    post:
      tags:
      - NDC Methods
      summary: Post OrderCreate
      description: The OrderCreate makes a purchase request for the selected flight,
        and returns an OrderID (some providers also return a PNR), along with some
        flight data, such as the Origins-Destinations listing or the passenger list.
      operationId: OrderCreate#Post
      parameters:
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreatePayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderCreatePayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/OrderCreatePayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/OrderCreatePayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/OrderCreateMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OrderCreateMedia'
        400:
          description: Bad Request
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        503:
          description: Service Unavailable
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /OrderFile:
    get:
      tags:
      - Non NDC Methods
      summary: GET OrderFile
      description: OrderFile
      operationId: OrderFile#GET
      parameters:
      - name: file_id
        in: query
        description: Airgateway File ID
        schema:
          type: string
      - name: id
        in: query
        description: Airgateway Order ID
        schema:
          type: string
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content: {}
  /OrderHistory:
    get:
      tags:
      - Non NDC Methods
      summary: GET OrderHistory
      description: OrderHistory
      operationId: OrderHistory#GET
      parameters:
      - name: id
        in: query
        description: Airgateway Order ID
        schema:
          type: string
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.orderhistorymedia+json:
              schema:
                $ref: '#/components/schemas/OrderHistoryMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OrderHistoryMedia'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.orderhistorymedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.orderhistorymedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
  /OrderList:
    get:
      tags:
      - Non NDC Methods
      summary: GET OrderList
      description: OrderList
      operationId: OrderList#GET
      parameters:
      - name: agency
        in: query
        description: Agency
        schema:
          type: string
      - name: approveStatus
        in: query
        description: Orders with approve status [in_progress / approved / refused]
        schema:
          type: string
      - name: bookingDate
        in: query
        description: Booking date
        schema:
          type: string
      - name: departureDate
        in: query
        description: Departure date
        schema:
          type: string
      - name: destination
        in: query
        description: Destination of flight
        schema:
          type: string
      - name: disrupted
        in: query
        description: Show disrupted orders
        schema:
          type: string
      - name: id
        in: query
        description: Sort order
        schema:
          type: string
      - name: origin
        in: query
        description: Origin of flight
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: string
      - name: pageSize
        in: query
        description: Orders number per page
        schema:
          type: string
      - name: pax
        in: query
        description: PAX number
        schema:
          type: string
      - name: pnr
        in: query
        description: PNR
        schema:
          type: string
      - name: providers
        in: query
        description: Providers list separated by comma
        schema:
          type: string
      - name: psgName
        in: query
        description: Passenger name
        schema:
          type: string
      - name: psgSurname
        in: query
        description: Passenger surname
        schema:
          type: string
      - name: showOrdersType
        in: query
        description: Show orders type
        schema:
          type: string
      - name: showSubagencies
        in: query
        description: Flag to show subagencies' orders
        schema:
          type: string
      - name: sort
        in: query
        description: Sort order
        schema:
          type: string
      - name: status
        in: query
        description: Status of order
        schema:
          type: string
      - name: ticketNumber
        in: query
        description: Ticket Nr. / EMD
        schema:
          type: string
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.orderlistmedia+json:
              schema:
                $ref: '#/components/schemas/OrderListMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OrderListMedia'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.orderlistmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
  /OrderMetas:
    post:
      tags:
      - Non NDC Methods
      summary: Post OrderMetas
      description: OrderMetas updates order with new metas
      operationId: OrderMetas#Post
      parameters:
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      requestBody:
        description: OrderMetasPayload is the type for OrderMetas endpoint request
          body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderMetasPayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderMetasPayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/OrderMetasPayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/OrderMetasPayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.ordermetasmedia+json:
              schema:
                $ref: '#/components/schemas/OrderMetasMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OrderMetasMedia'
        400:
          description: Bad Request
          content:
            application/airgateway.github.io.ordermetasmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.ordermetasmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.ordermetasmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /OrderRemarks:
    post:
      tags:
      - Non NDC Methods
      summary: Post OrderRemarks
      description: OrderRemarks updates order with new remarks
      operationId: OrderRemarks#Post
      parameters:
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      requestBody:
        description: OrderRemarksPayload is the type for OrderRemarks endpoint request
          body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRemarksPayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderRemarksPayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/OrderRemarksPayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/OrderRemarksPayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.orderremarksmedia+json:
              schema:
                $ref: '#/components/schemas/OrderRemarksMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OrderRemarksMedia'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.orderremarksmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.orderremarksmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /OrderReshop:
    post:
      tags:
      - NDC Methods
      summary: Post OrderReshop
      description: OrderReshop returns offers avaialble for provided order ID and
        different date.
      operationId: OrderReshop#Post
      parameters:
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderReshopPayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderReshopPayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/OrderReshopPayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/OrderReshopPayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.orderreshopmedia+json:
              schema:
                $ref: '#/components/schemas/OrderReshopMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OrderReshopMedia'
        400:
          description: Bad Request
          content:
            application/airgateway.github.io.orderreshopmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.orderreshopmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.orderreshopmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        503:
          description: Service Unavailable
          content:
            application/airgateway.github.io.orderreshopmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /OrderReshopRefund:
    post:
      tags:
      - NDC Methods
      summary: Post OrderReshopRefund
      operationId: OrderReshopRefund#Post
      parameters:
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderReshopRefundPayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderReshopRefundPayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/OrderReshopRefundPayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/OrderReshopRefundPayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.orderreshoprefundmedia+json:
              schema:
                $ref: '#/components/schemas/OrderReshopRefundMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OrderReshopRefundMedia'
        400:
          description: Bad Request
          content:
            application/airgateway.github.io.orderreshoprefundmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.orderreshoprefundmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.orderreshoprefundmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        503:
          description: Service Unavailable
          content:
            application/airgateway.github.io.orderreshoprefundmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /OrderReshopReprice:
    post:
      tags:
      - NDC Methods
      summary: Post OrderReshopReprice
      description: OrderReshopReprice returns price for selected OrderReshop offer.
      operationId: OrderReshopReprice#Post
      parameters:
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderReshopRepricePayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderReshopRepricePayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/OrderReshopRepricePayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/OrderReshopRepricePayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.orderreshopmedia+json:
              schema:
                $ref: '#/components/schemas/OrderReshopMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OrderReshopMedia'
        400:
          description: Bad Request
          content:
            application/airgateway.github.io.orderreshopmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.orderreshopmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.orderreshopmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        503:
          description: Service Unavailable
          content:
            application/airgateway.github.io.orderreshopmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /OrderRetrieve:
    post:
      tags:
      - NDC Methods
      summary: Post OrderRetrieve
      description: 'OrderRetrieve returns an order information of existing order. '
      operationId: OrderRetrieve#Post
      parameters:
      - name: AG-No-Cache-OR
        in: header
        description: Don't use cache for answer
        schema:
          type: string
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      requestBody:
        description: OrderRetrievePayload is the type for OrderRetrieve endpoint request
          body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRetrievePayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderRetrievePayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/OrderRetrievePayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/OrderRetrievePayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/OrderCreateMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OrderCreateMedia'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        503:
          description: Service Unavailable
          content:
            application/airgateway.github.io.ordercreatemedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /OrderReview:
    post:
      tags:
      - Non NDC Methods
      summary: Post OrderReview
      description: OrderReview returns result of review approval/rejection
      operationId: OrderReview#Post
      parameters:
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      requestBody:
        description: OrderReviewPayload is the type for OrderReview endpoint request
          body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderReviewPayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderReviewPayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/OrderReviewPayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/OrderReviewPayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.orderreviewmedia+json:
              schema:
                $ref: '#/components/schemas/OrderReviewMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/OrderReviewMedia'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.orderreviewmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.orderreviewmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        503:
          description: Service Unavailable
          content:
            application/airgateway.github.io.orderreviewmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /ProviderList:
    get:
      tags:
      - Non NDC Methods
      summary: GET ProviderList
      description: ProviderList
      operationId: ProviderList#GET
      parameters:
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.providerlistmedia+json:
              schema:
                $ref: '#/components/schemas/ProviderListMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/ProviderListMedia'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.providerlistmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
  /SeatAvailability:
    post:
      tags:
      - NDC Methods
      summary: Post SeatAvailability
      description: SeatAvailability returns a list of seat, price of these seats,
        its location and some more info like, for example, if a seat can be occupied
        by infants or only adults.
      operationId: SeatAvailability#Post
      parameters:
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      requestBody:
        description: SeatAvailability data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SeatAvailabilityPayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/SeatAvailabilityPayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/SeatAvailabilityPayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/SeatAvailabilityPayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.seatavailabilitymedia+json:
              schema:
                $ref: '#/components/schemas/SeatAvailabilityMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/SeatAvailabilityMedia'
        400:
          description: Bad Request
          content:
            application/airgateway.github.io.seatavailabilitymedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.seatavailabilitymedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.seatavailabilitymedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        503:
          description: Service Unavailable
          content:
            application/airgateway.github.io.seatavailabilitymedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /ServiceList:
    post:
      tags:
      - NDC Methods
      summary: Post ServiceList
      description: 'ServiceList returns a service list information for existing order. '
      operationId: ServiceList#Post
      parameters:
      - name: AG-Providers
        in: header
        description: Provider ID
        required: true
        schema:
          type: string
      requestBody:
        description: ServiceListPayload is the type for ServiceList endpoint request
          body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceListPayload'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceListPayload'
          application/gob:
            schema:
              $ref: '#/components/schemas/ServiceListPayload'
          application/x-gob:
            schema:
              $ref: '#/components/schemas/ServiceListPayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/airgateway.github.io.servicelistmedia+json:
              schema:
                $ref: '#/components/schemas/ServiceListMedia'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/ServiceListMedia'
        404:
          description: Not Found
          content:
            application/airgateway.github.io.servicelistmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        500:
          description: Internal Server Error
          content:
            application/airgateway.github.io.servicelistmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
        503:
          description: Service Unavailable
          content:
            application/airgateway.github.io.servicelistmedia+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/error'
      x-codegen-request-body-name: payload
  /status:
    get:
      tags:
      - Non NDC Methods
      summary: Get Status
      description: Status returns ok if API is active
      operationId: Status#Get
      responses:
        200:
          description: OK
          content: {}
components:
  schemas:
    Address:
      title: Address
      type: object
      properties:
        cityName:
          type: string
          description: City name.
          example: Madrid
        countryCode:
          type: string
          description: Country code.
          example: GB
        postalCode:
          type: string
          description: Postal code.
          example: "28001"
        street:
          type: string
          description: Street.
          example: Gran Via 25
      example:
        cityName: Madrid
        countryCode: GB
        postalCode: "28001"
        street: Gran Via 25
    AgencyData:
      title: AgencyData
      type: object
      properties:
        countryCode:
          type: string
          description: Country code
          example: ES
        iataCode:
          type: string
          description: IATA Number
          example: "33842201"
      example:
        countryCode: ES
        iataCode: "33842201"
    AirDocIssuePayloadPayload:
      title: AirDocIssuePayloadPayload
      required:
      - id
      - payment
      type: object
      properties:
        id:
          type: string
          description: AirGateway order ID
          example: AGW-JHTE1543KJ
        payment:
          $ref: '#/components/schemas/Payment'
      example:
        id: AGW-JHTE1543KJ
        payment:
          cardCode: VI
          cardHolderEmail: smith@airgateway.com
          cardHolderName: John Smith
          cardHolderSurname: Smith
          cardHolderTitle: MR
          cardNumber: 1234 1234 1234 1234
          cardType: Credit
          cashEmail: smith@airgateway.com
          cashName: John Smith
          cashSurname: Smith
          cashTitle: MR
          cityName: London
          countryCode: "34"
          expiration: "0220"
          method: card
          passengerType: ADT
          phone:
            areaCode: "34"
            countryCode: "34"
            number: +34 666 123 123
          postalCode: "001235"
          seriesCode: "123"
          stateProv: WA
          street1: Oxford Street
          street2: N15
    AirShoppingMedia:
      title: 'Mediatype identifier: application/airgateway.github.io.airshoppingmedia+json;
        view=default'
      type: object
      properties:
        result:
          type: array
          example:
          - baggageAllowance:
            - category: BAGGAGE
              item: CARRYON
              media:
                id: '#0001'
                link: http://test.com
              metadataToken: Aperiam commodi at rerum reiciendis molestias.
              originDestinationReference: Repellat facilis voluptatem nesciunt sunt
                provident.
              properties:
              - UOM: Kg
                type: Weight
                value: "8"
              - UOM: Lbs
                type: Weight
                value: "18"
              text: 1 carry-on bag  up to 8kg/18lbs
              units: "1"
            - category: BAGGAGE
              item: CARRYON
              media:
                id: '#0001'
                link: http://test.com
              metadataToken: Aperiam commodi at rerum reiciendis molestias.
              originDestinationReference: Repellat facilis voluptatem nesciunt sunt
                provident.
              properties:
              - UOM: Kg
                type: Weight
                value: "8"
              - UOM: Lbs
                type: Weight
                value: "18"
              text: 1 carry-on bag  up to 8kg/18lbs
              units: "1"
            createdAt: 1618480712
            disclosures:
            - descriptions:
              - category: MEALS
                item: DRINKS_SNACKS
                text: Snacks and Beverage except GVA
              details:
              - category: MEALS
                item: DRINKS_SNACKS
                text: Snacks and Beverage except GVA
              listKey: TBEUKES
            error: no available journey for this search
            flights:
            - arrival:
                airportCode: MAD
                airportName: MADRID
                countryID: Neque labore est corrupti qui eius.
                date: 2019-08-15
                parentLocation: Facilis illo et quas omnis.
                terminalName: "2"
                time: 08:30
              departure:
                airportCode: JFK
                airportName: John F Kennedy (NY) (New York) Airport
                countryID: Sed incidunt magnam velit possimus.
                date: 2019-08-15
                parentLocation: Voluptatem et dolores quis soluta fuga suscipit.
                terminalName: "2"
                time: 06:30
              flightDuration: 11h35m
              flightKey: F1
              flightSegments:
              - ODRef: OD1
                equipment:
                  aircraftCode: JFK
                  name: New York J F Kennedy International Apt, US
                fareCode: 70J
                flightDetail:
                  classOfService:
                    cabinDesignator: ECONOMY
                    code: Y
                    disclosureRefs:
                    - TBEUKES
                    disclosures:
                      Dolorum corrupti rerum exercitationem qui omnis.:
                        bags:
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        fareRules:
                          Cancel: For Fee
                          Change: Allowed
                          penalties:
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                    fareBasisCode: PEUBXXP9
                    fareCabin: B
                    fareStandardName: Restricted
                    generalClassCode: B
                    marketingName: Euro Traveler
                    refs: FBCODE2ADT
                  fareBasisCode: PEUBXXP9
                  fareCabin: I
                  fareCode: FLE
                  fareMarketingName: Light
                  fareStandardName: BUSINESS FLEX
                  fareType: Published
                  flightDuration: PT7H15M
                  flightSegmentType: HK
                  seatsLeft: "10"
                  stopLocations:
                  - airportCode: KGL
                    airportName: Kigali International
                    arrivalDate: 2019-09-06
                    arrivalTime: 18:50
                    departureDate: 2019-09-06
                    departureTime: 20:05
                  stopQuantity: "1"
                flightNumber: BA7289
                marketingCarrier:
                  airlineID: CA
                  flightNumber: BA1324
                  name: Common Airline
                operatingCarrier:
                  airlineID: BA
                  disclosures:
                  - descriptions:
                    - category: MEALS
                      item: DRINKS_SNACKS
                      text: Snacks and Beverage except GVA
                    details:
                    - category: MEALS
                      item: DRINKS_SNACKS
                      text: Snacks and Beverage except GVA
                    listKey: TBEUKES
                  flightNumber: "1324"
                  name: British Airways
                originDestination:
                  arrival:
                    airportCode: MAD
                    airportName: MADRID
                    countryID: Cumque et soluta voluptas molestiae.
                    date: 2019-08-15
                    parentLocation: Quo sequi perferendis illo.
                    terminalName: 4S
                    time: 08:30
                  departure:
                    airportCode: JFK
                    airportName: John F Kennedy (NY) (New York) Airport
                    countryID: Qui eos rem earum minima.
                    date: 2019-08-15
                    parentLocation: Ipsa placeat.
                    terminalName: Terminal 7
                    time: 06:30
                segmentID: SEGMENT-BA7289
              - ODRef: OD1
                equipment:
                  aircraftCode: JFK
                  name: New York J F Kennedy International Apt, US
                fareCode: 70J
                flightDetail:
                  classOfService:
                    cabinDesignator: ECONOMY
                    code: Y
                    disclosureRefs:
                    - TBEUKES
                    disclosures:
                      Dolorum corrupti rerum exercitationem qui omnis.:
                        bags:
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        fareRules:
                          Cancel: For Fee
                          Change: Allowed
                          penalties:
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                    fareBasisCode: PEUBXXP9
                    fareCabin: B
                    fareStandardName: Restricted
                    generalClassCode: B
                    marketingName: Euro Traveler
                    refs: FBCODE2ADT
                  fareBasisCode: PEUBXXP9
                  fareCabin: I
                  fareCode: FLE
                  fareMarketingName: Light
                  fareStandardName: BUSINESS FLEX
                  fareType: Published
                  flightDuration: PT7H15M
                  flightSegmentType: HK
                  seatsLeft: "10"
                  stopLocations:
                  - airportCode: KGL
                    airportName: Kigali International
                    arrivalDate: 2019-09-06
                    arrivalTime: 18:50
                    departureDate: 2019-09-06
                    departureTime: 20:05
                  stopQuantity: "1"
                flightNumber: BA7289
                marketingCarrier:
                  airlineID: CA
                  flightNumber: BA1324
                  name: Common Airline
                operatingCarrier:
                  airlineID: BA
                  disclosures:
                  - descriptions:
                    - category: MEALS
                      item: DRINKS_SNACKS
                      text: Snacks and Beverage except GVA
                    details:
                    - category: MEALS
                      item: DRINKS_SNACKS
                      text: Snacks and Beverage except GVA
                    listKey: TBEUKES
                  flightNumber: "1324"
                  name: British Airways
                originDestination:
                  arrival:
                    airportCode: MAD
                    airportName: MADRID
                    countryID: Cumque et soluta voluptas molestiae.
                    date: 2019-08-15
                    parentLocation: Quo sequi perferendis illo.
                    terminalName: 4S
                    time: 08:30
                  departure:
                    airportCode: JFK
                    airportName: John F Kennedy (NY) (New York) Airport
                    countryID: Qui eos rem earum minima.
                    date: 2019-08-15
                    parentLocation: Ipsa placeat.
                    terminalName: Terminal 7
                    time: 06:30
                segmentID: SEGMENT-BA7289
              - ODRef: OD1
                equipment:
                  aircraftCode: JFK
                  name: New York J F Kennedy International Apt, US
                fareCode: 70J
                flightDetail:
                  classOfService:
                    cabinDesignator: ECONOMY
                    code: Y
                    disclosureRefs:
                    - TBEUKES
                    disclosures:
                      Dolorum corrupti rerum exercitationem qui omnis.:
                        bags:
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        fareRules:
                          Cancel: For Fee
                          Change: Allowed
                          penalties:
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                    fareBasisCode: PEUBXXP9
                    fareCabin: B
                    fareStandardName: Restricted
                    generalClassCode: B
                    marketingName: Euro Traveler
                    refs: FBCODE2ADT
                  fareBasisCode: PEUBXXP9
                  fareCabin: I
                  fareCode: FLE
                  fareMarketingName: Light
                  fareStandardName: BUSINESS FLEX
                  fareType: Published
                  flightDuration: PT7H15M
                  flightSegmentType: HK
                  seatsLeft: "10"
                  stopLocations:
                  - airportCode: KGL
                    airportName: Kigali International
                    arrivalDate: 2019-09-06
                    arrivalTime: 18:50
                    departureDate: 2019-09-06
                    departureTime: 20:05
                  stopQuantity: "1"
                flightNumber: BA7289
                marketingCarrier:
                  airlineID: CA
                  flightNumber: BA1324
                  name: Common Airline
                operatingCarrier:
                  airlineID: BA
                  disclosures:
                  - descriptions:
                    - category: MEALS
                      item: DRINKS_SNACKS
                      text: Snacks and Beverage except GVA
                    details:
                    - category: MEALS
                      item: DRINKS_SNACKS
                      text: Snacks and Beverage except GVA
                    listKey: TBEUKES
                  flightNumber: "1324"
                  name: British Airways
                originDestination:
                  arrival:
                    airportCode: MAD
                    airportName: MADRID
                    countryID: Cumque et soluta voluptas molestiae.
                    date: 2019-08-15
                    parentLocation: Quo sequi perferendis illo.
                    terminalName: 4S
                    time: 08:30
                  departure:
                    airportCode: JFK
                    airportName: John F Kennedy (NY) (New York) Airport
                    countryID: Qui eos rem earum minima.
                    date: 2019-08-15
                    parentLocation: Ipsa placeat.
                    terminalName: Terminal 7
                    time: 06:30
                segmentID: SEGMENT-BA7289
            - arrival:
                airportCode: MAD
                airportName: MADRID
                countryID: Neque labore est corrupti qui eius.
                date: 2019-08-15
                parentLocation: Facilis illo et quas omnis.
                terminalName: "2"
                time: 08:30
              departure:
                airportCode: JFK
                airportName: John F Kennedy (NY) (New York) Airport
                countryID: Sed incidunt magnam velit possimus.
                date: 2019-08-15
                parentLocation: Voluptatem et dolores quis soluta fuga suscipit.
                terminalName: "2"
                time: 06:30
              flightDuration: 11h35m
              flightKey: F1
              flightSegments:
              - ODRef: OD1
                equipment:
                  aircraftCode: JFK
                  name: New York J F Kennedy International Apt, US
                fareCode: 70J
                flightDetail:
                  classOfService:
                    cabinDesignator: ECONOMY
                    code: Y
                    disclosureRefs:
                    - TBEUKES
                    disclosures:
                      Dolorum corrupti rerum exercitationem qui omnis.:
                        bags:
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        fareRules:
                          Cancel: For Fee
                          Change: Allowed
                          penalties:
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                    fareBasisCode: PEUBXXP9
                    fareCabin: B
                    fareStandardName: Restricted
                    generalClassCode: B
                    marketingName: Euro Traveler
                    refs: FBCODE2ADT
                  fareBasisCode: PEUBXXP9
                  fareCabin: I
                  fareCode: FLE
                  fareMarketingName: Light
                  fareStandardName: BUSINESS FLEX
                  fareType: Published
                  flightDuration: PT7H15M
                  flightSegmentType: HK
                  seatsLeft: "10"
                  stopLocations:
                  - airportCode: KGL
                    airportName: Kigali International
                    arrivalDate: 2019-09-06
                    arrivalTime: 18:50
                    departureDate: 2019-09-06
                    departureTime: 20:05
                  stopQuantity: "1"
                flightNumber: BA7289
                marketingCarrier:
                  airlineID: CA
                  flightNumber: BA1324
                  name: Common Airline
                operatingCarrier:
                  airlineID: BA
                  disclosures:
                  - descriptions:
                    - category: MEALS
                      item: DRINKS_SNACKS
                      text: Snacks and Beverage except GVA
                    details:
                    - category: MEALS
                      item: DRINKS_SNACKS
                      text: Snacks and Beverage except GVA
                    listKey: TBEUKES
                  flightNumber: "1324"
                  name: British Airways
                originDestination:
                  arrival:
                    airportCode: MAD
                    airportName: MADRID
                    countryID: Cumque et soluta voluptas molestiae.
                    date: 2019-08-15
                    parentLocation: Quo sequi perferendis illo.
                    terminalName: 4S
                    time: 08:30
                  departure:
                    airportCode: JFK
                    airportName: John F Kennedy (NY) (New York) Airport
                    countryID: Qui eos rem earum minima.
                    date: 2019-08-15
                    parentLocation: Ipsa placeat.
                    terminalName: Terminal 7
                    time: 06:30
                segmentID: SEGMENT-BA7289
              - ODRef: OD1
                equipment:
                  aircraftCode: JFK
                  name: New York J F Kennedy International Apt, US
                fareCode: 70J
                flightDetail:
                  classOfService:
                    cabinDesignator: ECONOMY
                    code: Y
                    disclosureRefs:
                    - TBEUKES
                    disclosures:
                      Dolorum corrupti rerum exercitationem qui omnis.:
                        bags:
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        fareRules:
                          Cancel: For Fee
                          Change: Allowed
                          penalties:
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                    fareBasisCode: PEUBXXP9
                    fareCabin: B
                    fareStandardName: Restricted
                    generalClassCode: B
                    marketingName: Euro Traveler
                    refs: FBCODE2ADT
                  fareBasisCode: PEUBXXP9
                  fareCabin: I
                  fareCode: FLE
                  fareMarketingName: Light
                  fareStandardName: BUSINESS FLEX
                  fareType: Published
                  flightDuration: PT7H15M
                  flightSegmentType: HK
                  seatsLeft: "10"
                  stopLocations:
                  - airportCode: KGL
                    airportName: Kigali International
                    arrivalDate: 2019-09-06
                    arrivalTime: 18:50
                    departureDate: 2019-09-06
                    departureTime: 20:05
                  stopQuantity: "1"
                flightNumber: BA7289
                marketingCarrier:
                  airlineID: CA
                  flightNumber: BA1324
                  name: Common Airline
                operatingCarrier:
                  airlineID: BA
                  disclosures:
                  - descriptions:
                    - category: MEALS
                      item: DRINKS_SNACKS
                      text: Snacks and Beverage except GVA
                    details:
                    - category: MEALS
                      item: DRINKS_SNACKS
                      text: Snacks and Beverage except GVA
                    listKey: TBEUKES
                  flightNumber: "1324"
                  name: British Airways
                originDestination:
                  arrival:
                    airportCode: MAD
                    airportName: MADRID
                    countryID: Cumque et soluta voluptas molestiae.
                    date: 2019-08-15
                    parentLocation: Quo sequi perferendis illo.
                    terminalName: 4S
                    time: 08:30
                  departure:
                    airportCode: JFK
                    airportName: John F Kennedy (NY) (New York) Airport
                    countryID: Qui eos rem earum minima.
                    date: 2019-08-15
                    parentLocation: Ipsa placeat.
                    terminalName: Terminal 7
                    time: 06:30
                segmentID: SEGMENT-BA7289
              - ODRef: OD1
                equipment:
                  aircraftCode: JFK
                  name: New York J F Kennedy International Apt, US
                fareCode: 70J
                flightDetail:
                  classOfService:
                    cabinDesignator: ECONOMY
                    code: Y
                    disclosureRefs:
                    - TBEUKES
                    disclosures:
                      Dolorum corrupti rerum exercitationem qui omnis.:
                        bags:
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        - descriptions:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          details:
                          - category: MEALS
                            item: DRINKS_SNACKS
                            text: Snacks and Beverage except GVA
                          listKey: TBEUKES
                        fareRules:
                          Cancel: For Fee
                          Change: Allowed
                          penalties:
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                          - amounts:
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            - amount: 35.65
                              currency: EUR
                              providerAmount: 30.7
                              providerCurrency: SGD
                              remark: MaximumPenaltyAmount
                            description: 'See cancelation policy '
                            type: ADE
                    fareBasisCode: PEUBXXP9
                    fareCabin: B
                    fareStandardName: Restricted
                    generalClassCode: B
                    marketingName: Euro Traveler
                    refs: FBCODE2ADT
                  fareBasisCode: PEUBXXP9
                  fareCabin: I
                  fareCode: FLE
                  fareMarketingName: Light
                  fareStandardName: BUSINESS FLEX
                  fareType: Published
                  flightDuration: PT7H15M
                  flightSegmentType: HK
                  seatsLeft: "10"
                  stopLocations:
                  - airportCode: KGL
                    airportName: Kigali International
                    arrivalDate: 2019-09-06
                    arrivalTime: 18:50
                    departureDate: 2019-09-06
                    departureTime: 20:05
                  stopQuantity: "1"
                flightNumber: BA7289
                marketingCarrier:
                  airlineID: CA
                  flightNumber: BA1324
                  name: Common Airline
                operatingCarrier:
                  airlineID: BA
                  disclosures:
                  - descriptions:
                    - category: MEALS
                      item: DRINKS_SNACKS
                      text: Snacks and Beverage except GVA
                    details:
                    - category: MEALS
                      item: DRINKS_SNACKS
                      text: Snacks and Beverage except GVA
                    listKey: TBEUKES
                  flightNumber: "1324"
                  name: British Airways
                originDestination:
                  arrival:
                    airportCode: MAD
                    airportName: MADRID
                    countryID: Cumque et soluta voluptas molestiae.
                    date: 2019-08-15
                    parentLocation: Quo sequi perferendis illo.
                    terminalName: 4S
                    time: 08:30
                  departure:
                    airportCode: JFK
                    airportName: John F Kennedy (NY) (New York) Airport
                    countryID: Qui eos rem earum minima.
                    date: 2019-08-15
                    parentLocation: Ipsa placeat.
                    terminalName: Terminal 7
                    time: 06:30
                segmentID: SEGMENT-BA7289
            maxNumberOfStops: 1
            offerID: 2r5t6w
            offerType: oneWay
            owner: AA
            paymentTimeLimit: 2021-04-16T23:59:59Z
            price:
              currency: EUR
              offerPrices:
              - baseAmount: 71.35
                passengerType: ADT
                taxesAmount: 210.59
              totalPrice: 281.94
            priceBreakdown:
              inbound:
                currency: EUR
                offerPrices:
                - baseAmount: 39.89
                  offerItemID: Xidm4826786881118-1
                  passengerType: ADT
                  taxesAmount: 97.2
                totalPrice: 137.09
              outbound:
                currency: EUR
                offerPrices:
                - baseAmount: 31.46
                  offerItemID: Xidm48267868816-1
                  passengerType: ADT
                  taxesAmount: 113.39
                totalPrice: 144.85
            provider: AA
          - baggageAllowance:
            - category: BAGGAGE
              item: CARRYON
              media:
                id: '#0001'
                link: http://test.com
              metadataToken: Aperiam commodi at rerum reiciendis molestias.
              originDestinationReference: Repellat facilis voluptatem nesciunt sunt
                provident.
              properties:
              - UOM: Kg
                type: Weight
                value: "8"
              - UOM: Lbs
                type: Weight
                value: "18"
              text: 1 carry-on bag  up to 8kg/18lbs
              units: "1"
            - category: BAGGAGE
              item: CARRYON
              media:
                id: '#0001'
                link: http://test.com
              metadataToken: Aperiam commodi at rerum reiciendis molestias.
              originDestinationReference: Repellat facilis voluptatem nesciunt sunt
                provident.
              properties:
              - UOM: Kg
                type: Weight
                value: "8"
              - UOM: Lbs
                type: Weight
                value: "18"
[...]
